<h2>Administração Check-In Paróquia de Macaíba</h2><br>
<hr class="my-4">

<div class="row">


      <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Eventos Religiosos</h5></b>
            <small><p class="card-text">Click para acessar área de eventos.</p></small><br>
            <a href="/admin/eventos"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Acessar</button></a>
        </div>
    </div>
    </div>

       <div class="col-sm-3">
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-body">
            <b><h5 class="card-title">Usuários</h5></b>
            <small><p class="card-text">Click para acessar área de usuários.</p></small><br>
            <a href="/admin/usuarios"><button type="button" class="btn btn-outline-light btn-lg btn-block"><i class="icon-fixed-width icon-gear"></i>Acessar</button></a>
        </div>
    </div>
    </div>
  
  

</div>
